<h1> Landing Page! </h1>

<h2>Welcome to social-media </h2>

<form action="/main" method="post"> 
	<label for="username"> User Name: </label>
	<input type="text" name="username" id="username" placeholder="enter username">
	<label for="password"> Password: </label>
	<input type="password" name="password" id="password" placeholder="enter password">
	<input type="submit">
</form>

<a href="/register">New to social-media? Register </a>